/* Estilo para pagina historia la imagen de fondo */
main, body,section{
  color: rgb(180, 135, .5)eff7;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration-color: beige;
  text-size-adjust: 20px;
}

.relative img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Estilo para el fondo superpuesto */
  .absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #895351;
    mix-blend-mode: multiply; /* Opcional, si deseas cambiar el modo de mezcla */
    z-index: -1; /* Coloca el fondo detrás de otros elementos */
  }
  
  /* Estilo para el contenido superpuesto */
  .max-w-7xl {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 10rem 1rem; /* Aumenta el espacio superior para mover el contenido más abajo */
  }
  
  .text-4xl {
    font-size: 2.25rem; /* Ajusta el tamaño del título según tus necesidades */
    font-weight: 800;
    line-height: 2.5rem;
    color: #fff;
    position: relative;
    z-index: 10; /* Coloca el título encima de otros elementos */
    font-family: 'Noto Serif JP', serif;
  }
  
  .text-xl {
    font-size: 1.25rem; /* Ajusta el tamaño del párrafo según tus necesidades */
    color: #f8f9fa; /* Cambia el color de texto según tus necesidades */
    max-width: 48rem;
    position: relative;
    z-index: 10; /* Coloca el párrafo encima de otros elementos */
    font-family: 'Noto Serif JP', serif;
  }
  
  <!--tarjetas-->
  #image-tarjetas {
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
}

#image-tarjetas img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
}

#prev, #next {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    bottom: 50px;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}


/* Estilo para imágenes a ancho completo */
/* Estilo para imágenes a ancho completo */
.full-width {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

/* Estilo para contenedor de imágenes con título y texto */
.image-container {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

/* Estilo del texto superpuesto */
.image-text {
  position: absolute;
  top: 50%; /* Coloca el texto en el centro verticalmente */
  left: 0;
  width: 100%;
  background-color:transparent;
  color: #fffdfd; /* Color del texto sin sombreado */
  padding: 20px;
  text-align: center;
}

/* Estilos para los títulos y textos */
.image-text h2 {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: 'Agbalumo';
  margin-top: 15px; /* Ajusta el margen superior para mover el párrafo hacia abajo */
  margin-left: 25px; 
  }


.image-text p {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;

}
/* Eliminar márgenes en el cuerpo de la página */
body {
  margin: 0;
  padding: 0;
}

.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.centered-image img {
  max-width: 100%;
  max-height: 100%;
}