/* Reset de estilos */
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, #000000, #111016dc ), url("../media/image/Background\ image-Desktop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

header {
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

section {
    padding: 50px;
}

.cerveza {
    display: flex;
    justify-content: space-between; /* Distribuir las imágenes de manera uniforme */
    align-items: center; /* Centrar verticalmente las imágenes */
    margin-bottom: 30px;
    color: white;
}

.cerveza img {
    width: 100px; /* Establece el ancho deseado para las imágenes */
    max-width: 100%;
    height: auto; /* Mantén la proporción de aspecto */
    margin: 5px; /* Agrega margen entre las imágenes si es necesario */
}

.block.block-abi-legal-d8{width:100%;}.legal_accordion{cursor:pointer;padding:18px;width:100%;border:none;text-align:center;outline:none;font-size:15px;font-weight:bold;transition:0.4s;}.legal_panel{display:none;overflow:hidden;}
.addtoany{display:inline;}.addtoany_list{display:inline;line-height:16px;}.addtoany_list > a,.addtoany_list a img,.addtoany_list a > span{vertical-align:middle;}.addtoany_list > a{border:0;display:inline-block;font-size:16px;padding:0 4px;}.addtoany_list.a2a_kit_size_32 > a{font-size:32px;}.addtoany_list .a2a_counter img{float:left;}.addtoany_list a span.a2a_img{display:inline-block;height:16px;opacity:1;overflow:hidden;width:16px;}.addtoany_list a span{display:inline-block;float:none;}.addtoany_list.a2a_kit_size_32 a > span{border-radius:4px;height:32px;line-height:32px;opacity:1;width:32px;}.addtoany_list a:hover:hover img,.addtoany_list a:hover span{opacity:.7;}.addtoany_list a.addtoany_share_save img{border:0;width:auto;height:auto;}.addtoany_list a .a2a_count{position:relative;}
.youtube-container--responsive{overflow:hidden;position:relative;padding-bottom:56.25%;height:0;}.youtube-container--responsive iframe{border:none;position:absolute;top:0;left:0;width:100%;height:100%;}
.paragraph--unpublished{background-color:#fff4f4;}
.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-right:auto;margin-left:auto;}
.fieldgroup{padding:0;border-width:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}.container-inline .hidden{display:none;}
.clearfix:after{display:table;clear:both;content:"";}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;overflow:visible;clip:auto;width:auto;height:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li:after{content:", ";}.item-list__comma-list li:last-child:after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.progress{position:relative;}.progress__track{min-width:100px;max-width:100%;height:16px;margin-top:5px;border:1px solid;background-color:#fff;}.progress__bar{width:3%;min-width:3%;max-width:100%;height:16px;background-color:#000;}.progress__description,.progress__percentage{overflow:hidden;margin-top:0.2em;color:#555;font-size:0.875em;}.progress__description{float:left;}[dir="rtl"] .progress__description{float:right;}.progress__percentage{float:right;}[dir="rtl"] .progress__percentage{float:left;}.progress--small .progress__track{height:7px;}.progress--small .progress__bar{height:7px;background-size:20px 20px;}
.reset-appearance{margin:0;padding:0;border:0 none;background:transparent;line-height:inherit;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.resize-none{resize:none;}.resize-vertical{min-height:2em;resize:vertical;}.resize-horizontal{max-width:100%;resize:horizontal;}.resize-both{max-width:100%;min-height:2em;resize:both;}
table.sticky-header{z-index:500;top:0;margin-top:0;background-color:#fff;}
.system-status-counter__status-icon{display:inline-block;width:25px;height:25px;vertical-align:middle;}.system-status-counter__status-icon:before{display:block;width:100%;height:100%;content:"";background-repeat:no-repeat;background-position:center 2px;background-size:16px;}.system-status-counter__status-icon--error:before{background-image:url(../media/icons/error.svg);}.system-status-counter__status-icon--warning:before{background-image:url(../media/icons/warning.svg);}.system-status-counter__status-icon--checked:before{background-image:url(../media/icons/check.svg);}
.system-status-report-counters__item{width:100%;margin-bottom:0.5em;padding:0.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,0.063);}@media screen and (min-width:60em){.system-status-report-counters{display:flex;flex-wrap:wrap;justify-content:space-between;}.system-status-report-counters__item--half-width{width:49%;}.system-status-report-counters__item--third-width{width:33%;}}
.system-status-general-info__item{margin-top:1em;padding:0 1em 1em;border:1px solid #ccc;}.system-status-general-info__item-title{border-bottom:1px solid #ccc;}
.tablesort{display:inline-block;width:16px;height:16px;background-size:100%;}.tablesort--asc{background-image:url(../media/icons/twistie-down.svg);}.tablesort--desc{background-image:url(../media/icons/twistie-up.svg);}
div.tree-child{background:url(../media/image/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(../media/image/tree-bottom.png) no-repeat 11px center;}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center;}div.tree-child-horizontal{background:url(../media/image/tree.png) no-repeat -11px center;}
.views-align-left{text-align:left;}.views-align-right{text-align:right;}.views-align-center{text-align:center;}.views-view-grid .views-col{float:left;}.views-view-grid .views-row{float:left;clear:both;width:100%;}.views-display-link + .views-display-link{margin-left:0.5em;}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}