@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
* {
    margin: 0;

    font-family: "Raleway", sans-serif;

    scroll-behavior: smooth;
}

body {
    background-image: url("https://media.istockphoto.com/id/1312816584/es/v%C3%ADdeo/ld-cerveza-vertiendo-en-vidrio-y-creando-espuma.mp4?s=mp4-640x640-is&k=20&c=pdDQcUc5NNoIvHoBY4z6ryXL1evYO2oczPhCY6CM1zI=");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;

    color: white;
}

header {
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
}

header a {
    text-decoration: none;
    color: #555;
}

header li {
    list-style: none;
    margin: 1rem;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.primer_sector,
.segundo_sector,
.tercer_sector {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 70vh;
}

.primer_sector > div,
.segundo_sector > div,
.tercer_sector > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}

.data {
    width: 100%;
    background-color: #555;
    color: white;
}

.data > p {
    width: 50%;
}

.img {
    background-color: palegoldenrod;
}

img {
    height: 13rem;
    position: relative;
    left: -50%;
}

.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-image: url("https://media.istockphoto.com/id/473186443/es/v%C3%ADdeo/se-sirve-cerveza-de-vidrio-en-la-formaci%C3%B3n-de-las-olas.mp4?s=mp4-640x640-is&k=20&c=XzF4Me8GM-9wS_QveedD1_g84hrysm58jOAXrjjsKTQ=");
}

.bg2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-image: url("https://media.istockphoto.com/id/1131571518/es/v%C3%ADdeo/verter-cerveza-fr%C3%ADa-en-un-vaso-con-gotas-de-agua.mp4?s=mp4-640x640-is&k=20&c=Wro-WoqPJFCijBS9-wvB-R8xgs6h5O9G0s9Krcj5j1k=");
}

.up {
    position: fixed;
    bottom: 20px;
    font-size: 2rem;
    right: 1rem;
}
.up > a {
    text-decoration: none;
}

.noShow {
    display: none;
}

/*TODO SPINNER*/

/*TODO OverFLOW*/

.section_data {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    color: white;
    margin: 0 0 1rem 6rem;
    height: 70vh;
}

.container {
    color: white;
    height: 80vh;
    overflow-y: scroll;
}

.spinner-border:before {
    content: "soy un spinner";
}

table {
    width: 100%;
    text-align: center;
    font-weight: 900;
    padding: 4rem;
}

table img {
    height: 4rem;
    position: relative;
    left: 0;
}
input {
    width: 40%;
    font-weight: 900;
}

.main-color-cerveza {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-color-cerveza p,
.main-color-cerveza a {
    font-size: 1.5rem;
    font-weight: 700;
}

.main-color-cerveza a:active,
.main-color-cerveza a:visited,
.main-color-cerveza a:link,
.main-color-cerveza a:focus {
    text-decoration: none;
    color: white;
}

.main-color-cerveza > .list {
    display: flex;
    flex-direction: row;
    width: 30rem;
    justify-content: space-between;
}
