{% extends 'base_cervezeria.html' %}
{% block content %}

<main>
    <div class="main-color-cerveza">
        <h1>Todas las Cervezas</h1>
        <h2><a href="{% url 'create' %}">CREAR CERVEZA</a></h2>
        {% for cerveza in cerveza_list%}
        <div class="list">
            <span>
                <p>{{forloop.counter}}</p>
            </span>
            <span>
                <p>{{cerveza.nombre}}</p>
            </span>
            <span>
                <label for="">Detalle: </label>
                <a href="{% url 'detail' cerveza.id %}">+</a>
            </span>
            <span>
                <label for="">Editar: </label>
                <a href="{% url 'update' cerveza.id %}">+</a>
            </span>
            <span>
                <label for="">Borrar: </label>
                <a href="{% url 'delete' cerveza.id %}">+</a>
            </span>
        </div>

        {% endfor %}
    </div>
</main>
{% endblock %}